#search{width:1230px;margin:0 auto;overflow: hidden;}
.addCol{background:#fef7ed;}

#content1L{width:100%;}
#content1L .search{float:right;}
.buy_ca{font-size:18px;margin-top:20px;}
#content{width:1230px;padding:20px 0;}
.contentBuy1{height:33px;border-bottom:1px solid #dbdbdb;}
.contentBuy1 span{height:33px;border-bottom:1px solid #ab0013;line-height:33px;display:block;width:80px;text-align:center;color:#ab0013;}
.myself_2R22{overflow: hidden;background:#f1f1f1;line-height:35px}
.myself_2R22 div{float:left;}
.buy_car1{width:120px;overflow:hidden;}
.buy_car2{width:500px;}
.buy_car3{width:140px;}
.buy_car4{width:180px;text-align:center}
.buy_car5{width:180px;text-align:center}
.buy_car6{width:108px;}
.myself_xq{overflow:hidden; }
.myself_xq>input{float:left;margin:20px 70px 0 15px;}
.myself_xq>div{float:left}
.myself_xq{padding:25px 0;}
.myself_2R23 li{margin:0;}
.myself_good{width:500px;}
.goodsMs{width:192px;margin-left:15px;line-height:25px;}

.myself_Sfk{width:200px;}
.myself_cho{width:130px;text-align:center;margin-left:60px;}

.jie_suan4{margin-left:600px;}
.jie_suan5>p{line-height:25px;text-align:center;}

.jies_btn{height:50px;line-height:50px;width:170px;}