.myself_2R21>ul{width:550px;}
.jsBtn{width:56px;color:#fff;background:#a80011;text-align:center;cursor:pointer;}
.myself_2R22 .buy_car2,.myself_2R22 .buy_car1{text-align:left }
.buy_car1 input{margin:11px 10px;}

.buy_car1{width:120px;overflow:hidden;}
.buy_car2{width:390px;}
.buy_car3{width:90px;}
.buy_car4{width:120px;}
.buy_car5{width:80px;}
.buy_car6{width:75px;}

/*.myself_good{width:;}*/
.qjd{background:url(../img/myself7.jpg) no-repeat 93% 2px;}
.myself_xq>.myself_price{width:184px;}

.myself_Sta>span{float:left;cursor:pointer;}
.myself_Sta1{text-align:center;font-weight:900;width:23px;height:23px;border:1px solid #ccc;background:#ededed;line-height:23px;}
.myself_Sta2{text-align:center;width:48px;height:23px;border:1px solid #ccc;}
.myself_Sta2 input{border:none;width:100%;height:100%;display:block;text-align:center;}
.myself_Sta3{text-align:center;font-weight:900;width:23px;height:23px;border:1px solid #ccc;background:#ededed;line-height:23px;}
.myself_cho{width:90px;}
.cao_z{width:87px;text-align:center;}
.cao_z p{cursor:pointer;}

.myself_xq{border-bottom:1px solid #ccc;}
.myself_2R23 li{margin-top:20px}
.shi_x{background:#c9c9c9;color:black;}

.myself_good{margin-left:3px;}
.jie_suan{overflow:hidden;background:#f1f1f1;margin-top:20px;line-height:34px;}
.jie_suan>div{float:left;cursor:pointer}
.jie_suan>.jies_btn{float:right;width:86px;color:#fff;text-align:center;background:#a80011;height:100%;}

.jie_suan1{margin-right:27px;}
.jie_suan2{margin-right:27px;}
.jie_suan3{margin-right:27px;}
.jie_suan4{margin-right:27px;margin-left:200px;}
.jie_suan5{margin-right:27px;}


