#content21 li:nth-child(3){color:white;background:#b70b07;}
#content21 li:nth-child(3) a{color:white;}
#content21 li:nth-child(1){color:white;background:none;}
#content21 li:nth-child(1) a{color:black;}
/*==========================面包屑导航=========================*/
.breadNav a{
    color:#333;
}
.breadNav{
    margin-bottom:25px;
}
/*==========================tab切换图区=========================*/
.picTabArea{
    width:890px;
    float:left;
    padding-bottom:15px;
}
.picTabPicWrap{
    width:862px;
    height:530px;
    position:relative;
}
.imgWrap{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}

.picTabPicWrap img{
    width:100%;
    height:100%;
    display:block;
}

.showPicSortNumber{
    font-size:30px;
    color:#fff;
    font-weight:bold;
    position:absolute;
    left:40px;
    bottom:25px;
}

.selectPicArea{
    text-align:center;
    width:854px;
    height:116px;
    line-height:116px;
    position:relative;
}
.leftArrow,.rightArrow{
    width:19px;
    height:30px;
    position:absolute;
    top:45px;
    cursor:pointer;
}
.leftArrow{
    background:url(../img/arrowPicT_03.png) no-repeat center center;
    left:3px;
}
.rightArrow{
    background:url(../img/arrowPicT_05.png) no-repeat center center;
    right:3px;
}

.tabPicUlWrap{
    width:89%;
    display:inline-block;
    height:70px;
    line-height:70px;
    vertical-align:middle;
    position:relative;
    overflow:hidden;
}
.tabPicUl{
    height:66px;
    line-height:66px;
    text-align:left;
    position:absolute;
    left:0;
    top:0;
    width:9000px;
}
.tabPicLi{
    width:56px;
    height:56px;
    display:inline-block;
    vertical-align:middle;
    cursor:pointer;
    margin-right:4px;
    position:relative;
}
.tabPicLi img{
    width:100%;
    height:100%;
}

.tabPicLi.active{
    border:2px solid red;
}

.tabPicLi .sortNumber{
    width:36px;
    height:12px;
    color:#e3dedb;
    text-align:center;
    line-height:12px;
    position:absolute;
    bottom:0;
    right:0;
    background:rgba(0,0,0,0.6);
}
/*==========================详情介绍=========================*/
.detailIntroduce{
    width:860px;
    height:150px;
    line-height:150px;
    float:left;
    border-top:1px solid #ccc;
    margin-top:20px;
}
.detailIntroduceTitle{
    font-size:24px;
    font-weight:bold;
    color:#333;
    text-align:left;
    height:73px;
    width:50px;
    padding-right:20px;
    border-right:1px dashed #ccc;
    vertical-align:middle;
    line-height:35px;
    display:inline-block;
}
.detailIntroduceText{
    display:inline-block;
    font-size:16px;
    color:#666;
    line-height:18px;
    padding-left:30px;
    padding-right:5px;
    height:73px;
    vertical-align:middle;
    width:745px;
}
/*==========================我要定制-联系模块=========================*/
.rightBlock{
    border-left:1px solid #ccc;
    overflow:hidden;
    padding-top:5px;
}
#content22L{
    margin-right:25px;
}
/*==========================热门标签=========================*/
.hotTag{
    width:314px;
    margin-top:30px;
}
.hotTagTitle{
    font-size:24px;
    color:#333;
    margin-bottom:20px;
}

.hotTag .tag{
    float:left;
    padding:14px 25px;
    border:1px solid #ccc;
    border-radius:1px;
    margin:0 10px 10px 0;
}
.hotTag .tag a{
    font-size:14px;
    color:#666;
}

/*==========================footer样式微调=========================*/
#footer{
    padding-top:10px;
    background:#f6f6f6;
}

