#content21 li:nth-child(3){color:white;background:#b70b07;}
#content21 li:nth-child(3) a{color:white;}
/*==========================类别导航=========================*/
.itemNav{
    width:1228px;
    border:1px solid #ccc;
    line-height:40px;
    overflow:hidden;
    margin-top:5px;
}
.itemNavItem{
    border-bottom:1px dashed #ccc;
    overflow:hidden;
    position:relative;
}
.itemNavItem:nth-last-child(1){
    border-bottom:none;
}

.itemNavItemTitle{
    background:#f6f6f6;
    color:#999;
    font-size:12px;
    text-indent:10px;
    width:130px;
    float:left;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    bottom:0;
}

.itemNavItemUl{
    float:left;
    width:1098px;
    padding-left:130px;
}

.itemNavItemUl .itemNavItemLi{
    display:inline-block;
    width:80px;
    height:40px;
    text-align:center;
    margin-right:30px;
}
.itemNavItemA{
    color:#999;
}

/*==========================图片区域=========================*/
.bestPicArea{
    width:100%;
    margin-top:45px;
    position:relative;
}
.bestPicAreaTitle{
    font-size:22px;
    font-weight:bold;
    height:24px;
    width:100px;
    position:absolute;
    left:50%;
    top:-14px;
    background:#fff;
    margin-left:-50px;
    text-align:center;
}
.bestPicArea .morePic{
    color:#b7b7b7;
    right:0;
    top:-18px;
    height:12px;
    font-size:12px;
    position:absolute;
}

.bestPicArea .bestPicBlockImgWrap{
    overflow:hidden;
    position:relative;
}

.fiveCornStar{
    background:url(../img/fiveCornStar.png) no-repeat;
    background-position:0 1px;
    width:12px;
    height:12px;
    display:inline-block;
    margin-right:2px;
}

.bestPicBlock .showBar{
    width:100%;
    height:30px;
    display:-webkit-box;
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
}

.bestPicArea .showBarWrap{
    width:100%;
    height:30px;
    position:absolute;
    bottom:0;
    display:none;
}

.bestPicArea .bestPicBlockImgWrap:hover .showBarWrap{
    display:block;
}

.bestPicBlock .showBar .showBarBtn{
    width:96px;
    background:#c81323;
    color:#fff;
    height:30px;
    line-height:30px;
    text-align:center;
    cursor:pointer;
}

.bestPicArea .highPicBlock{
    width:297px;
    height:520px;
    margin-top:15px;
    margin-bottom:15px;
}

.highPicBlock:nth-of-type(4n){
    margin-right:0;
}

.bestPicArea .highPicBlock img{
    height:480px;
}

.bestPicArea .normalPicBlock{
    width:297px;
    height:255px;
    float:left;
}
.normalPicBlock:nth-of-type(4n){
    margin-right:0;
}

.bestPicArea .normalPicBlock img{
    height:215px;
}
.bestPicBlock{
    margin-right:13px;
    margin-bottom:10px;
}

.bestPicBlock img{
    display:block;
    width:100%;
}
.bestPicArea .bestPicBlock{
    position:relative;
}

.bestPicArea .picBlockTextArea{
    position:absolute;
    bottom:0;
    width:100%;
    height:26px;
    line-height:26px;
}

.picBlockTextArea .bestPicText{
    font-size:16px;
    color:#333;
    display:inline-block;
    text-align:left;
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.picBlockTextArea .bestPicNum{
    font-size:12px;
    color:#fff;
    display:inline-block;
    text-align:center;
    width:34px;
    background:#a80011;
    float:right;
}