.content421Bann{height:193px;}
.margin_left{margin-left:46px;}

.content411{line-height:41px;color:#a80011;border-bottom:2px solid #ccc;font-size:22px;}
#banner{width:100%;min-width:1230px;background:#d7eefc; margin:0 auto;height:310px;}
#banner .swiper-container{width:1230px;height:310px;margin:0 auto;}
#banner .swiper-container img{width:1230px;height:310px;}
.xinji{margin-top:20px;background:url(../img/expo_list1.jpg) no-repeat 56px 0;}
.news_listTime{margin-top:10px;}
#content412 li{position:relative;}
.expo_btn{position:absolute;right:0;bottom:50px;text-align:center;width:80px;line-height:22px;color:white;cursor: pointer;background:#a80011;}

