.myself_cho>div{line-height:20px;width:68px;text-align:center;background:#a80011;margin:0 auto;color:white;cursor:pointer;}

.myself_cho1>div{line-height:20px;width:40px;text-align:center;margin:0 auto;cursor:pointer;border:1px solid #ccc;border-radius:3px;background:none;color:#000;}
