/*======================价格信息区=============================*/
#nav{
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.brandPic{
    width:1230px;
    height:108px;
    margin:0 auto;
    line-height:108px;
}
.logoPic{
    width:460px;
    height:80px;
    border-right:1px solid #ccc;
    background:url(../img/shop_03.png) left center no-repeat;
    display:inline-block;
    vertical-align:middle;
    margin-left:135px;
}
.shopDescribe{
    width:235px;
    height:77px;
    display:inline-block;
    vertical-align:middle;
    margin-left:35px;
}
.shopDescribeLi{
    line-height:20px;
    color:#646263;
    padding-left:22px;
    background:url(../img/dian.jpg) no-repeat 5% 10px;
}
.bearSay{
    width:201px;
    height:88px;
    background:url(../img/shop_05.png) no-repeat;
    display:inline-block;
    vertical-align:bottom;
}
.shopNavWrap{
    width:100%;
    height:33px;
    background:#a80011;
}
.shopNav{
    width:1230px;
    height:33px;
    margin:0 auto;
}
.shopNavLi{
    display:inline-block;
    width:138px;
    height:33px;
    line-height:33px;
    text-align:center;
    font-size:14px;
    color:#fff;
}
.shopNavLi a{
    color:#fff;
}
.shopNavLi.active{
    background:#cc121c!important;
    border:none!important;
}
/*======================banner图/流程图=============================*/
.shopBannerWrap{
    width:100%;
    height:410px;
    background:#625f50;
}
.shopBanner{
    width:1230px;
    height:410px;
    margin:0 auto;
}
.shopBanner img{
    width:100%;
    height:100%;
}
.stepFlu{
    margin:0 auto;
    width:1230px;
    height:356px;
    background:url(../img/5bao.png) no-repeat center center;
}

/*======================新品推荐=============================*/

.newGoodsWrap{
    width:100%;
    height:505px;
    background:#fafafa;
    overflow:hidden;
}
.greyLine{
    border-top:2px solid #ccc;
    width:715px;
    margin:0 auto;
    height:0;
    margin-top:24px;
}
.newGoodsTitle{
    width:200px;
    height:49px;
    background:url(../img/shop_32.png) no-repeat center center #fafafa;
    line-height:49px;
    font-size:28px;
    text-align:center;
    font-weight:bold;
    color:#333;
    margin:0 auto;
    position:relative;
    top:-25px;
}
.newGoodsUl{
    margin:0 auto;
    width:1136px;
    height:340px;
    margin-top:54px;
}

.newGoodsLi{
    position:relative;
    width:282px;
    height:338px;
    border:1px solid #8c8c8c;
    float:left;
}
.goodsBrand{
    height:56px;
    line-height:56px;
    padding-left:15px;
}
.goodsBrand img{
    vertical-align:middle;
}
.goodsPic{
    height:198px;
    text-align:center;
}
.goodsPic img{
    vertical-align:middle;
}
.goodsText{
    height:40px;
    line-height:40px;
    text-align:center;
    color:#b70c13;
    font-size:14px;
}
.goodsBar{
    height:33px;
    line-height:33px;
    position:absolute;
    bottom:0;
    border-top:1px solid #8c8c8c;
    width:100%;
    background:#f0f0f0;
}
.goodsBarPrice{
    width:175px;
    color:#4a4a4a;
    font-size:12px;
    line-height:30px;
    display:inline-block;
    border-right:1px solid #ccc;
    text-align:center;
    background:#fff;
}
.goodsBarPriceNum{
    font-size:20px;
    color:#333;
}
.clickToSee{
    width:102px;
    text-align:center;
    font-size:12px;
    color:#333;
    display:inline-block;
    cursor:pointer;
}

/*======================大商品图=============================*/
.bigGoods1Wrap{
    height:550px;
}
.bigGoods1{
    width:1140px;
    height:520px;
    margin:0 auto;
    line-height:520px;
}
.bigGoodsPicWrap{
    width:636px;
    height:500px;
    line-height:500px;
    text-align:center;
    display:inline-block;
    vertical-align:middle;
}
.bigGoodsPicWrap img{
    text-align:center;
    vertical-align:middle;
}
.bigGoodsTextWrap{
    width:430px;
    height:472px;
    display:inline-block;
    vertical-align:middle;
    text-align:center;
}
.bigGoodsTextP1{
    font-size:40px;
    line-height:40px;
    color:#666;
    margin-top:100px;
}
.privateSizeSpan{
    width:85px;
    height:40px;
    background:url(../img/shop_47.png) no-repeat;
    display:inline-block;
    vertical-align:middle;
    margin-left:16px;
}
.bigGoodsTextP2{
    font-size:20px;
    line-height:20px;
    margin:16px 0 60px 0;
}
.bigGoodsTextP3{
    line-height:44px;
    font-size:20px;
}
.bigGoodsTextP4{
    line-height:14px;
    font-size:14px;
    text-align:left;
    text-indent:87px;
}
.bigGoodsTextP4 a{
    color:#3e3e3e;
}
.bigGoods2Wrap{
    height:550px;
    background:#fafafa;
}
/*======================联系客服=============================*/

.content832{
    width:920px;
}
.serviceBar{
    width:100%;
    height:85px;
    background:#eee8e8;
    line-height:85px;
}
.serviceBarLeft{
    vertical-align:middle;
    display:inline-block;
    width:350px;
    height:60px;
    line-height:60px;
    background:url(../img/shop_52.png) no-repeat 10% center;
    font-size:12px;
    text-indent:150px;
}
.contactMe{
    width:71px;
    height:16px;
    background:url(../img/shop_55.png) no-repeat;
    display:inline-block;
    vertical-align:middle;
    margin-left:3px;
}
.serviceBarRight{
    width:200px;
    padding-right:5px;
    height:53px;
    float:right;
    margin-top:20px;
}
.serviceBarRightP{
    line-height:16px;
    font-size:12px;
}
/*=====================各种系列=============================*/
.seriesArea{
    margin-top:40px;
    overflow:hidden;
}
.seriesTitle{
    font-size:20px;
    color:#333;
    margin-bottom:14px;
    width:100%;
    float:left;
}
.seriesTitleText{
    font-size:12px;
    margin-left:10px;
    color:#999;
}
.seriesMore{
    float:right;
    font-size:12px;
    color:#666;
    margin-top:5px;
}
.seriesBigPic{
    float:left;
    width:452px;
    height:260px;
    margin-bottom:18px;
}
.seriesBigPic img{
    width:100%;
    height:100%;
    display:block;
}
.seriesPicBlock{
    width:222px;
    height:260px;
    float:left;
    margin-left:8px;
    margin-bottom:18px;
}
.seriesArea .seriesPicBlock:nth-of-type(4){
    margin-left:0;
}
.seriesPicBlock img{
    width:222px;
    height:222px;
}
.seriesPicText{
    font-size:12px;
    margin-top:10px;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.seriesPriceNum{
    font-size:14px;
    color:#a80011;
}
/*=====================店铺热卖=============================*/
.shopHotSales{
    margin-top:25px;
    overflow:hidden;
    margin-bottom:40px;
}
.shopHotSaleTitle{
    font-size:22px;
    margin-bottom:10px;
}
.shopHotSaleBlock{
    float:left;
    position:relative;
    width:298px;
    height:400px;
    border:1px solid #ccc;
    margin-right:9px;
}
.shopHotSaleBlock:nth-of-type(3n){
    margin-right:0;
}
.shopHotSaleBlock img{
    width:285px;
    height:285px;
    margin:5px auto;
    display:block;
}
.shopHotSaleBlockP1{
    height:32px;
    line-height:32px;
}
.shopHotSalesPrice{
    margin-left:5px;
    font-size:16px;
    color:#a80011;
}
.shopHotSalesOldPrice{
    color:#666;
    margin-left:5px;
}
.shopHostSalesContTag{
    float:right;
    height:16px;
    line-height:16px;
    color:#fff;
    text-align:center;
    padding:0 3px;
    background:#a80011;
    margin-top:6px;
    margin-right:8px;
}
.shopHotSaleBlockP2{
    padding:0 5px;
}
.shopHotSaleBlockP3{
    border-top:1px solid #ccc;
    position:absolute;
    bottom:0;
    height:29px;
    width:292px;
    left:3px;
    line-height:29px;
}
.hotSalesSold{
    display:block;
    border-right:1px solid #ccc;
    height:29px;
    float:left;
    width:145px;
    text-align:left;
}
.hotSalesRate{
    display:block;
    height:29px;
    float:left;
    width:145px;
    text-align:right;
}
.hotSalesSoldNum{
    color:#a80011;
    margin-left:3px;
}
.hotSalesRateNum{
    color:#a80011;
    margin-left:3px;
}
/*=====================收藏/店铺信息=============================*/
.qqAndShopInfo{
    float:left;
    overflow:hidden;
    width:190px;
}
.qqAndShopInfo .shopInfoArea{
    height:425px;
}
.qqAndShopInfo .shopInfoArea .qqService{
    text-align:center;
    height:40px;
    line-height:40px;
    width:170px;
    margin:0 auto;
    border-top:1px dashed #ccc;
    margin-top:20px;
}
.addFavouritePic{
    margin-bottom:10px;
    margin-top:0;
}
.shopRecommend{
    width:700px;
    float:right;
}
.shopRecommend .hotSalesSold{
    border:none;
    float:right;
    width:auto;
    padding:0 5px;
}
.shopRecommend .shopHotSaleBlock{
    border:none;
    width:229px;
    height:305px;
    margin-right:6px;
    margin-bottom:10px;
}
.shopRecommend .shopHotSaleBlock:nth-of-type(3),.shopRecommend .shopHotSaleBlock:nth-of-type(6){
    margin-right:0;
}
.shopRecommend .shopHotSaleBlock img{
    width:229px;
    height:229px;
}







