.tjyhk{width:998px;border:1px solid #ccc;height:345px;}

.tjyhk h2{margin:37px 0;padding-left:287px;font-size:18px;}

.tjyhk p{margin:24px 0;}

.tjyhk span{display:inline-block;width:280px;text-align:right;line-height:30px}
.tjyhk input{display:inline-block;width:182px;height:30px;margin-left:5px;text-indent:5px;}

.trueTJ{margin:38px 280px;color:#fff;background:#a80011;text-align:center;line-height:30px;width:102px;cursor:pointer;}

